@import "tailwindcss";

:root {
  --font-inknut-antiqua: initial;
  --font-source-serif-4: initial;
  --font-noto-serif-jp: initial;

  --light-gray: #778DA9;
  --dark-gray: #30343F;
  --text-primary: aliceblue;

  --font-accent: var(--font-inknut-antiqua), serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inknut: var(--font-inknut-antiqua);
  --font-source-serif-4: var(--font-source-serif-4);
  --font-noto-serif-jp: var(--font-noto-serif-jp);
  
  --color-lightgray: var(--light-gray);
  --color-darkgray: var(--dark-gray);
  --color-aliceblue: var(--text-primary);

  --font-accent: var(--font-accent);
  --main-font: var(--main-font);
  /*font change based on language*/
}

/* Force the font with higher specificity */
html[lang="en"] .font-accent,
.font-accent {
  font-family: var(--font-inknut-antiqua), serif;
  
}

html[lang="ru"] .font-accent {
  font-family: var(--font-source-serif-4), serif;
  font-weight: normal;
}

html[lang="ja"] .font-accent {
  font-family: var(--font-noto-serif-jp), serif;
  font-weight: bold;
}

html[lang="en"] .main-font,
.main-font {
  font-family: var(--font-source-serif-4), serif;
}

html[lang="ru"] .main-font {
  font-family: var(--font-source-serif-4), serif;
}

html[lang="ja"] .main-font {
  font-family: var(--font-noto-serif-jp), serif;
}

body {
  background: var(--dark-gray);
  color: var(--text-primary);
}

main {
  font-family: var(--main-font);
  font-size: 18px;
}

.no-highlight-button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard property */
  -webkit-tap-highlight-color: transparent;

}

.no-highlight-button:focus {
  outline: none;
  box-shadow: none;
}